@font-face {
    font-family: 'Schnyder Cond XL Demi';
    src: url('../fonts/Schnyder_X_Cond_XL_Demi.otf') format('opentype')
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Light.ttf') format('opentype')
}

@font-face {
    font-family: 'TT Travels-Bold';
    src: url('../fonts/TTTravels-Bold.ttf') format('opentype')
}